body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: 0;
  padding: 0;
}